.prepend-top {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #515358;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    line-height: 1.5;
}

span.discreet, p.discreet, label.discreet {
    color: #9d9ea1;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    line-height: 1.5;
    font-size: 1.0rem;
    margin-left: 3px;
}

agm-map {
  height: 400px;
}