<footer>
    <div class="footer navbar-fixed-bottom" id="footer">

        <!--/.container--> 
        <div class="container" style="background-color: black">
            <p class="pull-left"> Copyright sUmichas 2018 </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-->

    <!--/.footer-bottom--> 
</footer>