
ul.nav.nav-pills {
	width:100%;
	margin-left: 20%
	
}

body{
	background-color:#F3F6FA;
  height: 100%;
}

/*footer {
  background-color: #082457;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
  width: 100%;*/
  /* Set the fixed height of the footer here */
  /*height: 60px;
}*/
