    <carousel>
      <slide>
        <img src="assets/pic1.jpg" alt="First slide" style="display: block; width: 100%;opacity: 0.8">
        <div class="carousel-caption" style="padding-bottom: 25%;color: black;font-size: 46;">
          <h3>Step One:</h3>
          <p><b>Sign up and start posting what you need.</b></p>
        </div>
      </slide>
      <slide>
        <img src="assets/pic2.jpg" alt="Second slide" style="display: block; width: 100%;opacity: 0.8">
        <div class="carousel-caption" style="padding-bottom: 25%;color: black;font-size: 16px;">
          <h3>Step Two:</h3>
          <p><b>Match your "job services" with someone that needs you.</b></p>
        </div>
      </slide>
      <slide>
        <img src="assets/pic3.jpg" alt="Third slide" style="display: block; width: 100%;opacity: 0.8">
        <div class="carousel-caption" style="padding-bottom: 25%;color: black;font-size: 16px;">
          <h3>Step Three:</h3>
          <p><b>Make a deal!</b></p>
        </div>
      </slide>
    </carousel>
    
    <div class="Container" style="padding:8%">
        <div class="row">
            <div class="col">
                <h2 class="HomepageIntro-title">Is money the only way to buy and sell products and services?</h2>
                <p>
                    
                The answer to this question has been given centuries ago before the term money had even been defined. Before money undertook the world (700 B.C), 
                people used to exchange commodities and services  to cover their essential needs. For example in ancient <b>Greece</b> people from different industries used 
                to exchange olive oil to buy flour or wheat.

                </p>
              
            </div>
           </div>
    </div>

    
    <div class="Container" style="padding:8%;background-color:white; ">
        <div class="row">
            <div class="col">
                <h2 class="HomepageIntro-title">How could we leverage this commerce method nowadays?</h2>
                <p>
                    Technology and Social Community is the major part of the answer. 
                    We can utilize the power that we have on the edge of our fingers by exposing our needs and also by
                    demonstrating our capabilities and resources that we are able offer as exchange. 
                    World wide web can give you a great outreach to prospect people that they are seeking the resources or knowledge you have and also
                    potentially they can help you as return to your needs.
                </p>
                
            </div>
            

        </div>
    </div>

    <div class="Container" style="padding:8%">
        <div class="row">
            <div class="col">
                <h2 class="HomepageIntro-title">What is E-Jobs?</h2>
                <p>
                    <i>E-Jobs is a platform that enables users to exchange services that they need with services that they can offer. That simple!!!</i>
                </p>
                <p>
                    Let’s see an example: We assume that you are a encoder and you are really good in fixing bugs and errors but you got not any knowledge on fixing your broken car. What you can do is , 
                    you can raise a tender with a simple description of what you need and what you can offer. The title could be like “I am a skilled programmer with powerful mind on 0 and 1 but I have never use screwdriver”. 
                    What could happen on this case study is that you could get a reply message on this add from a garage that they could fix your car and would ask from you to fix the bugs they have on their web presence.
                    You exchange numbers you give a good review to E-jobs and you are done. Your car is fixed, their website is running as hell and everyone is satisfied without any money involvement.

               </p>
            </div>
            <div class="col">
                <h3>How do you benefit?</h3>
                <ul class="HomepageIntro-points">
                    <li class="HomepageIntro-points-item">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        No money involvement.
                    </li>
                    <li class="HomepageIntro-points-item">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        No taxation charges.
                    </li>
                    <li class="HomepageIntro-points-item">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        You help by getting helped.
                    </li>
                    <li class="HomepageIntro-points-item">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        You help by getting helped.
                    </li>
                    <li class="HomepageIntro-points-item">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        Develop your personal skills.
                    </li>
                    <li class="HomepageIntro-points-item">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        Help people that they don't have the money to cover their needs but they have the knowledge you need.
                    </li>
                    <li class="HomepageIntro-points-item">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        Establish a coulture against capitalism that: Money is not the King,Humanity is!!!!!
                    </li>
                </ul>
            </div>

        </div>
    </div>

